
$arrColors: (
  primary: #005dff,
  primary-light: lighten(#005dff,40%),
  primary-dark: darken(#005dff,40%),
  accent: #fff6bb,
  txtWhite: #fff,
  bkgrdWhite:#fff
);

$varPadding: 15px;
$varBorders: 15px;

// Screen to change to desktop view from hand held view
$varDesktop: 920px;

@mixin desktop {
  // Paas the variable $varDesktop to the Media query by using #{} around $varDesktop
  @media Screen and (min-width: #{$varDesktop}){
    @content;
  }
}

@function fnColor($colorName) {
   @return map-get($arrColors , $colorName ) 
}

body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;

  #bg {
    clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
    background-color: fnColor(primary);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    @include desktop {
      clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
    }
  }

  header a {
    color: fnColor(txtWhite);
    text-decoration: none;
    padding: $varPadding;
    display: block;
    text-decoration: uppercase;

  }
}

main {

  @include desktop{
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "primary card";
  }

  section#card {
    background: fnColor(bkgrdWhite);
    padding: 20px;
    margin: 1em auto;
    border-radius: $varBorders;
    // border: 1px solid black;
    box-shadow: 0 10px 30px  rgba(0,0,0,.3) inset;
    width: 80%;

    @include desktop {
      grid-area: card;
      height: fit-content;
      align-self: center;
      margin: 1em;
    }
  }

  ul {
    list-style-type: none;
    margin: 0; padding: 0;

    li {
      margin-bottom: 10px;

      // Custom bullet points
      span {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: fnColor(primary-light); 
        border-radius: 50%;
        margin-right: 30px;
      }

      strong {
        display: inline-block;
        margin-left: max(40px);
        margin-top: 10px;
      }
    }
  }

  section#primary {
    color: fnColor(txtWhite);
    padding: $varPadding;
    text-align: center;
    
    @include desktop{
      grid-area: primary;
      text-align: left;
      margin: 4em 0 0 4em;
    }

    h1 {
      font-size: 3em;
      margin-top: 10px;
      text-transform: uppercase;

      @include desktop{
        width: 30%;
        font-size: 4em;
        line-height: .9em;
      }
    }

    p {
      font-size: 1.4em;
    }

    // Button
    a {
      color: fnColor(primary-dark);
      border-radius: $varBorders;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      background-color: fnColor(accent);
      text-align: center;
      margin: 50px auto 0 auto;
      display: block;
      padding: $varPadding;

      @include desktop{
        display: inline-block;
        // Make the padding on the left and right side 4 times wider that top and bottom
        padding: $varPadding $varPadding*4;
      }

    }
  }
}